html, body {
  padding: 0;
  margin: 0;
  background: #EB667E;
  height:100%;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
}

.border-white {
  border-width: 7px !important;
  border-radius: 15px;
}

.landing {
  color: white;
}

.social {
  color: white;
  padding-top: 10px;
}

.social:hover {
  color: #303030;
}

.landing-header {
  padding-top: 15px;
  font-size: 36px;
  font-family: collector-comic, sans-serif;
  font-weight: 700;
  font-style: normal;
}


.landing-image {
  max-width: 100px;
  margin-top: 25px;
}

.btn {
  background: white;
  color: #303030;
  margin: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn:hover {
  background: #303030;
  color: white;
}
