html, body {
  font-family: "futura-pt", sans-serif;
  overflow-x: hidden;
}

.skip-link{
  margin: 0;
  padding: 0;
}

.skip-link a{
  position: absolute;
  top: -3em;
}

.skip-link a:focus{
  top: 0;
}


/* header start */

.navBarIcon {
  max-width: 200px;
}


h2 {
  font-size: 1.3em;
  font-weight: normal;
}

nav a {
  color: #303030 !important;
  font-size: large;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
  color: #C25165 !important;
  font-weight: 500;
}

.navbar-toggler {
  border: none;
  color: #C25165 !important;
}


/* header end */

.title-bar {
  background: #409C99;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-bar h1 {
  font-family: collector-comic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: min(max(5vw, 42px), 72px);
}

.title-bar span {
  opacity: 50%;
}

.title-bar-sub {
  padding-top: 25px;
  padding-bottom: 25px;
}

.title-bar-purple {
  background: #9C7BEA;
}

.title-bar-sub h1{
  font-size: min(max(4.5vw, 36px), 42px);
}

.container-page p, li {
  font-weight: lighter;
  font-size: large;
  margin-bottom: 5px;
}

.container-page h4 {
  color: #303030;
  font-weight: normal;
  font-size: x-large;
}

.container-page a {
  color: #303030;
  text-decoration: underline;
}


.btn-contact {
  background: #303030;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-bio {
  max-width: 250px;
  width:100%;
}

.carousel-img {
  max-height: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}



/* footer start */

.footer {
  color: #303030 !important;
}


.footer-social {
  color: #EB667E;
}

/* footer end */
