html, body {
  font-family: "futura-pt", sans-serif;
  overflow-x: hidden;
}


/* header start */

.navBarIcon {
  max-width: 70px;
}

.brand-text h3 {
  color: #ec6c84;
  font-weight: normal;
}

nav a {
  color: #303030 !important;
  font-size: large;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
  color: #ec6c84 !important;
}

.navbar-toggler {
  border: none;
  color: #ec6c84 !important;
}


/* header end */

.title-bar {
  background: #ec6c84;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-bar h1 {
  font-weight: normal;
}

.title-bar i {
  opacity: 50%;
}

.container-page p {
  font-weight: lighter;
  font-size: large;
  margin-bottom: 5px;
}

.container-page h4 {
  color: #303030;
  font-weight: normal;
  font-size: x-large;
}

.container-page a {
  color: #303030;
  text-decoration: underline;
}



/* footer start */

.footer-social {
  color: #ec6c84;
}

/* footer end */
