.weapons-header{
	border-style: double;
	border-color: white;
	border-width: 10px;
	background-color: #ded931;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 36px;
	max-width: 500px;
	height: auto;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 24px;
}

.form-control{
	text-align: center;
	margin: 0 auto;
}

.form-hank{
	height: 50px;
	width: 250px;
}

#dots{
	display: none;
}

#dots2{
	display: none;
}

#dots3{
	display: none;
}
